.hand{
    display: table-row;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 15px;
    border-top: black solid 2px;
    width: 100%;
    background-color: rgb(44, 51, 53);
    overflow-y: hidden;
    overflow-x: auto;
}

.handDiv{
    display: table-cell;
    vertical-align: bottom;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(80, 79, 79); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:rgb(4, 162, 224); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 103, 143); 
}